<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Angular Chrome Extension</title>
    <link TYPE="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller='todoCtrl'>
    
    <div class='container' ng-show="" >aboutPage=sideNote
    
    	<div id="pageHead">page head    	</div>
    	<div ng-repeat='comment in comments' class='row'>
    		alternatively : ng-repeat='todo in todoList | orderBy: createdAt' //not todo.createdAt// ng-class='{completed: todo.completed}'
    		<div><span ng-class='{completed: comment.completed}'>icon,timeStamp,visibility(priavte/public/uGroup)</span></div>
    		<div> comment.bodytext </div>
    		<div><span>collections,keywords</span>
    			<span>{{ (todoList | filter: {completed:false}).length}} pending task(s)</span>
    		</div>
    	</div>
    	<div>also Read
    		{{todo.content}}
    	</div>
    	<i class='glyphicon glyphicon-remove'></i>
    </div>
    	
    <div class='container' ng-if="" class='container'>summary=scrapbook
    	<div ng-repeat='collection in collections' ng-click="getComments(cid)">
    		<div><span>collection.name + collection.count</span></div>
    		안에 중첩되어지는 경우는 onClick으로 open될때, 차라리 수동으로 값들을 밀어 넣는 것이 나을지? 아니면 $scope안에 값을 넣어 주는 것이 나을지? 
    		한번에 하나면 열리게 되므로 ng-repeat대신에 comments란 객체를 onClick(getComments(cid))하면 새로 넣어 준다 
    		<div ng-if="" ng-repeat='comment in comments' ng-click="openTab(url)"> $parent.$index, comment.title+comment.url </div>
    		
    	</div>	
    	
    	<div></div>
    	<div>settings
    		<div>General
    			language(multiSelect),themeVisual, 
    		</div>
    		<div>Account
    			userid,password,quota-storageSize
    			(login/syncwith google+,facebook,twitter,....etc)
    		</div>
    		<div>AddOns
    			...나중에.... 
    		</div>
    	</div>
    </div>
    
    <div ng-class=[]>
    	megaNotice
    </div>
    
    <script type="text/javascript" src="lib/jquery/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="app/appdata.js"></script>
    <!-- <script type="text/javascript" src="app/appview.js"></script> -->
</body>
</html>