<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- thymeleaf locations: no use webjars for bootstrap,jquery-->
    <!-- /resources/static/, =../static/css/..th:href="@{css/guru.css}" -->
    <!-- thymeleaf is xml based, so must have closing </>...but 3.0 doesn;t need and lenient+generous -->
    <title>This is title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" type="text/css" href="../css/style.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
    <!--이게 더 안정적인 표현이고, resource webapp 디렉토리에 있다. 이것보다는 static안으로 옮겨 볼까나? -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/style3.css"/>
</head>
<body>
This is Diary Page

use this code in javascript to retrive json embedded
var stuff=JSON.parse(document.getElementById('test').innerHTML);
    
    <div class="container">
        <div class="jumbotron">
            
            <h1>Hello</h1>
 
            <h2>Fellow Spring Framework !!!</h2>
        </div>
    </div>

	<div id="json1" th:text="${jsonString1}"> jsonString 1 here
	</div>
	<div th:text="${jsonString2}"> jsonString 2 here
	</div>
	<div id="json3" th:text="${jsonString3}"> jsonString 3 here
	</div>
</body>
<script type="application/json" id="stuff">
	{
		"fruit":"apple",
		"abc":[1,2,3]
}
</script>
<script type="text/javascript">
var stuff=JSON.parse(document.getElementById('stuff').innerHTML);
var stuff3=JSON.parse(document.getElementById('json3').innerHTML);
</script>

<!-- thymeleaf th:text, th:inline ${object.property}, th:action="@{/url}"상대경로 ()절대경로, th:each="objectName:${objects}" -->
<script th:inline="javascript" type="text/javascript">
	
	var jsonString1 = [[${jsonString1}]];
	var jsonString2 = [[${jsonString2}]];
	var jsonString3 = [[${jsonString3}]];
	var jsonString4 = [[${jsonString4}]];
	var jsonString31 = JSON.parse(jsonString3);
	var jsonString41 = JSON.parse(jsonString4);
</script>
</html>