<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>login journal</title>
</head>
<body>

	<form>
		signIn or signUp
		userName : Jungh
		emailaddress: accountName
		password
		btn submit, cancel
	</form>
	script checking valid emailaddress,
	script checking if the emailAddress already exists if signUp/createUser
	<!-- <p id="note" th:text=$note>note: 로그인 문제나, 가이드 노트를 적어서 여기에 출력한다</p> -->
	 password failure, server no response, 
	
  	${modelAttributeName}
  	thymeleaf - $variable, #message, @url
  	th:text, th:attribue
  	#messages: #dates, 
  	th:text="${#calendars.format(today,'dd MMMM yyyy')}"
	@{/} url parsing th:href
	http://www.thymeleaf.org/doc/articles/standardurlsyntax.html
	
	
</body>
</html>