

/*

export collections : 
http://ourcodeworld.com/articles/read/189/how-to-create-a-file-and-generate-a-download-with-javascript-in-the-browser-without-a-server

https://code-maven.com/create-and-download-csv-with-javascript
http://cwestblog.com/2014/10/21/javascript-creating-a-downloadable-file-in-the-browser/

1. getData -

2. 
data:text/plain;charset=utf-8,Hello%20world!!!


in html
<a href="" id="link" download="code.txt">Download Above Code</a>

*/

function download(filename, text){
	var element = document.createElement('a');
	element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
  	element.setAttribute('download', filename);
  	element.style.display = 'none';
  	document.body.appendChild(element);
 	element.click();
  	document.body.removeChild(element);
}
function exportCollections(collections){}

function exportCollection(collection_name){
	
	return null;
}

txt.value=exportCollections('thisCollectionName');
document.getElementById('link').onclick = function(code) {
    this.href = 'data:text/plain;charset=utf-8,'
      + encodeURIComponent(txt.value);
  };

  
  <script>
  var data = [
     ['Foo', 'programmer'],
     ['Bar', 'bus driver'],
     ['Moo', 'Reindeer Hunter']
  ];
   
   
  function download_csv() {
      var csv = 'Name,Title\n';
      data.forEach(function(row) {
              csv += row.join(',');
              csv += "\n";
      });
   
      console.log(csv);
      var hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
      hiddenElement.target = '_blank';
      hiddenElement.download = 'people.csv';
      hiddenElement.click();
  }
  </script>
   
  <button onclick="download_csv()">Download CSV</button> 