body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

/*

*/
.classNameX {
	
}


.classNameX.ng-hide {}
.classNameX.ng-hide-add {
	-webkit-animation:0.5s ani_nameX;
  	animation:0.5s ani_nameX;
}
.classNameX.ng-hide-remove{}

@keyframes ani_nameX {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes ani_nameX {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}



/* ng-repeat */
.item { }

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity:0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity:1;
}