<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!--  ng-repeat "tab in tabs" : aboutPage, notes, also Extra 
		  "tab in tabs": about Brand/shop, measurements, reports, contents, casting
		  angular ng-click응로 묶어서 대응하게 해야 재대로 binding이 된다 
		  https://scotch.io/tutorials/how-to-correctly-use-bootstrapjs-and-angularjs-together
			http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-accordion.php
	-->
	<div id="accordion" class="panel-group">
		<div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. What is HTML?</a>
	            </h4>
	        </div>
	        <div id="collapseOne" class="panel-collapse collapse">
	            <div class="panel-body">
	            </div>
	        </div>
    	</div>
    	
    	<div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Bootstrap?</a>
	            </h4>
	        </div>
	        <div id="collapseTwo" class="panel-collapse collapse in">
	            <div class="panel-body">
	                <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
	            </div>
	        </div>
    	</div>
    	
    	<div class="panel panel-default">
	        <div class="panel-heading">
	            <h4 class="panel-title">
	                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
	            </h4>
	        </div>
	        <div id="collapseThree" class="panel-collapse collapse">
	            <div class="panel-body">
	                <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
	            </div>
	        </div>
    	</div>
    	
    </div>	
    
    
    <!-- detailPage for graph, analytics report -->
    <div id="" class=""> over-flow:hidden, 
    	
    	
    </div>
    	
</body>
</html>