<!DOCTYPE html>
<html>
<head>
    <!--  중요  http://embed.plnkr.co/O1otV47VxsIL5krAdUW0/preview  -->
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<!-- 
	<script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
	<script src="lib/angular-mocks-1.0.1.js"></script>
	 -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine-html.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/boot.min.js"></script>
	<!-- You need to include angular-mocks.js after Jasmine  -->
	<!--  https://docs.angularjs.org/api/ngMock -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-mocks.js"></script>
	
	<!--  
	<script type="text/javascript">
	$(document).ready(function(){
		//$.getScript("./test.js");
		var s = document.createElement("script");
		s.src = "test.js";
		document.body.appendChild(s);
	});
	
	</script>
	-->
	</head>
<body>
	
	<!--  테스트 html에서는 원html이 필요가 없다 그냥 service.js, controller.js 만 로딩해서 테스트 하자 
	<div ng-app="myCalculatorApp">
	<div ng-controller="CalculatorController">
			<input ng-model="x" type="number">
			<input ng-model="y" type="number">
			<strong>{{z}}</strong>
			<input type="button" ng-click="sum()" value="+">
	</div>
	</div>
	-->
	<h1>Angular controller test with Jasmine example</h1>
	
	<script type="text/javascript">
	var app=angular.module('myCalculatorApp', []);
	

	// 나중에 이 controller와 service는 각각 xxController.js, xxService.js란 파일로 따로 존재해서 위의 <script src..>로 loading되게 하자 
	app.controller('CalculatorController', function CalculatorController($scope) {
			//$scope.x=0; $scope.y=0;
			$scope.z = 0;
	  		$scope.sum = function() {
	    			$scope.z = $scope.x + $scope.y;
	 		};
	});
	
	app.service('CalculatorService', function($http){  //다른 서비스를 넣을 수도 있다 function(MathService){...$http.get("welcome.htm").then(function (response) {
		this.square = function (a) { return a*a};
		
	});
	
	
	
	// load the app, $.getScript(url)
	
	angular.element(document).ready(function() {
			angular.bootstrap(document, ['calculatorApp']);
	});
	
	
	var calculator = {
			sum: function(x, y) {
				return x + y;
			}
	}
	
	
	</script>
	<script type="text/javascript" src="test.js"></script>

</body>
	
</html>