<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  	<script src="test.js"></script>
    <link rel="stylesheet" href="test.css">
</head>
<body ng-app="myApp">
	<div ng-controller="myAppController as appController">
	
	
	<div>
      <label>Name:</label>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <hr>
      <h1>Hello {{yourName}}!</h1>
    </div>
    
    </div>
</body>
</html>
