@CHARSET "UTF-8";

body {
    background-color: #dfd6a9;
}

h1 {
    color: #00019f;
    margin-left: 20px; /* no space not-like 20 px; */
}
/* class slide_frame, slide,
   id contrainer,   
*/

.overlay {
	pointer-events: none;
}

#kew-container {
	position: relative;
    top: 5px;
    left: 5px;
	max-width: 950px;	
	min-height: 500px;
	background: #ea9774;
    box-shadow: 0px 0px 10px black;
    overflow: hidden;
    margin: 5px auto;
}

.kew_viewpager {
	position: relative;
	top: 20px;
    left: 20px;
	background: #e2c879;
	max-width: 900px;
	min-height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	/*width: 100%;  */ 
    /* position: absolute; */
    
}
.kew_page {
	position: absolute;
	top: 30px;
    left: 30px;
	
	max-width: 850px;
	min-width: 600px;
	min-height: 800px;
	float: left;
    display: block;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#slide1 {
	background: #e9ff3d;
	left: 0px;
}

#slide2 {
	background: #24701d;
	left: 160px;
}

#slide3 {
	background: #a3b3fe;
	left: 360px;
}

